@model RIAT.DAL.Entity.Models.AlternativaAtendimento
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer;

@{
    ViewData["Title"] = @Localizer["Title"];
}

<h1>@ViewData["Title"]</h1>

<h4>@Localizer["PageType"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdAtendimento" class="control-label"></label>
                <select asp-for="IdAtendimento" class="form-control" asp-items="ViewBag.IdAtendimento"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdAlternativaAdl" class="control-label"></label>
                <select asp-for="IdAlternativaAdl" class="form-control" asp-items="ViewBag.IdAlternativaAdl"></select>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@Localizer["btnCreate"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["btnBackList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
