@page
@using Microsoft.AspNetCore.Identity
@using RIAT.DAL.Entity.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <section class="cid-smngZG3MCW mbr-fullscreen mbr-parallax-background" id="header2-6">
        <div class="container align-center">
            <div class="container">
                <div class="row">
                    <iframe allow="camera; microphone; display-capture" src="https://meet.rism.com.br" true" style="height: 100%; width: 100%; border: 0px;">
                    </iframe>
                </div>
            </div>
        </div>
    </section>
